<!doctype html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->


<!-- Mirrored from lovesome.biz/tf-template/liftfund/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 18 Jun 2018 22:59:05 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="urosd">
    <!-- ======= titles ======= -->
    <title>Chhattarpur Seva Samity</title>
    <!-- ======= favicon ======= -->
    <link rel="icon" type="/image/png" href="favicon.png">
    <!-- ======= all css ======= -->
    <!-- normalize css -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- plugin css -->
    <link rel="stylesheet" href="/css/plugin.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- Add your site or application content here -->

    <!--
        ============================
        preloader part start
        ============================
    -->
    <div class="preloader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--
        ============================
        preloader part end
        ============================
    -->

    <!--
        ============================
        header part start
        ============================
    -->
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <!-- logo part -->
                    <div class="logo">
                        <a class="nav-link" href="#home">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-sm-9 col-xs-6">
                    <!-- menu part -->
                    <div class="menu-part">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse main-menu" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a class="nav-link" href="#home">home</a></li>
                                        <li><a class="nav-link" href="#about">About</a></li>
                                        <li><a class="nav-link" href="#gallery">Gallery</a></li>
                                        <li><a class="nav-link" href="#volunteers">Volunteers</a></li>
                                        <li><a class="nav-link" href="#events">events</a></li> 
                                        <li><a class="nav-link" href="#contact">contact</a></li>
                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--
        ============================
        header part end
        ============================
    -->

    <!--
        ============================
        banner part start
        ============================
    -->
    <section id="home" class="banner-area owl-carousel">
        <!-- single banner -->
        <div class="single-banner">
            <div class="itembg">
                <img src="img/banner/001.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-md-offset-1 col-lg-offset-0 col-sm-8">
                        <!-- single banner info -->
                        <div class="single-banner-con">
                            <div class="single-banner-txt">
                                <h1><span>donate for</span> the poor children</h1>
                                <p class="fadeIn animated animated-08s">We are trying to erradicate poverty from Our Chhattarpur</p>
                                {{!-- <a href="#donation" class="tem-btn nav-link move-eff"><span>donate now</span></a> --}}
                                <a href="/ramkumarg" class="tem-btn move-eff"><span>Join volunteer</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single banner -->
        <div class="single-banner">
            <div class="itembg">
                <img src="img/banner/002.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-md-offset-1 col-lg-offset-0 col-sm-8">
                        <!-- single banner info -->
                        <div class="single-banner-con">
                            <div class="single-banner-txt">
                                <h1><span>raise</span> your helping hand for the <span>helpless people</span></h1>
                                <p>We have many plans to help helpless peoples of Chhattarpur</p>
                                <a href="/ramkumarg" class="tem-btn nav-link move-eff"><span>Contact Us</span></a>
                                <a href="#" class="tem-btn move-eff wmBox" data-popup="https://www.youtube.com/embed/7e90gBu4pas?autoplay=1"><span>play video</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single banner -->
        <div class="single-banner">
            <div class="itembg">
                <img src="img/banner/003.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-md-offset-1 col-lg-offset-0 col-sm-8">
                        <!-- single banner info -->
                        <div class="single-banner-con">
                            <div class="single-banner-txt">
                                <h1><span>save the children and womens</span> save the Chhattarpur</h1>
                                <p>We are planing to conduct many camps for this</p>
                                <a href="/ramkumarg" class="tem-btn move-eff"><span>contact RKG</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
        ============================
        banner part end
        ============================
    -->

    <!--
        ============================
        donate wraper part start
        ============================
    -->
    <!--
        ============================
        donate wraper part End
        ============================
    -->

    <!--
        ============================
        about us part start
        ============================
    -->
    <section class="about-area section-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!-- section title -->
                    <div class="title text-center">
                        <h2>who we are</h2>
                        <div class="separate"><span class="separate-icon"></span></div>
                        <p>We are the people who have decided to help all the people of Chhattarpur whenever they wants.</p>
                    </div>
                </div>
            </div>
            <div class="row mb">
                <div class="col-sm-5">
                    <!-- about img -->
                    <div class="about-img">
                        <img src="img/about/about.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-7">
                    <!-- about details -->
                    <div class="about-details">
                        <h2>Our History</h2>
                        <p>We care for children, protect their welfare, and prepare them for the future. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p>
                        <p>We care for children, protect their welfare, and prepare them for the future. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="about-achievement">
                                    <i class="fa fa-diamond" aria-hidden="true"></i>
                                    <h4>Certified company</h4>
                                    <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="about-achievement">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    <h4>Our experience</h4>
                                    <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 em">
                    <!-- about details -->
                    <div class="about-details">
                        <h2>Our Foundation</h2>
                        <p>We care for children, protect their welfare, and prepare them for the future. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p>
                        <p>We care for children, protect their welfare, and prepare them for the future. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="about-achievement">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <h4>Expart volunteers</h4>
                                    <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="about-achievement">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                    <h4>Our goal</h4>
                                    <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 em">
                    <!-- about img -->
                    <div class="about-img">
                        <img src="img/about/found.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
        ============================
        about us part end
        ============================
    -->

    <!--
        ============================
        donate count part start
        ============================
    -->
    <!--
        ============================
        donate count part end
        ============================
    -->

    <!--
        ============================
        causes part start
        ============================
    -->
    <!--
        ============================
        causes part end
        ============================
    -->
    <!--
        ============================
        video part start
        ============================
    -->
    <section class="video-area parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- video info -->
                    <a class="wmBox video-btn hvr-ripple-out" href="https://www.facebook.com/ramkumar.gupta.946179/videos/a.2104920499728754.1073741834.100006324733543/2104928586394612/?type=3" data-popup="https://www.youtube.com/embed/NUMeF_4DorI">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                    <h2>play video</h2>
                </div>
            </div>
        </div>
    </section>
    <!--
        ============================
        video part end
        ============================
    -->

    <!--
        ============================
        gallery part start
        ============================
    -->
    <div class="gallery-area section-padding" id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!-- section title -->
                    <div class="title text-center">
                        <h2>our gallery</h2>
                        <div class="separate"><span class="separate-icon"></span></div>
                        <p>This is our work which we have done in last few months.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- gallery Menu -->
                    <div class="iso-nav">
                        <ul>
                            <li class="gallery-active hvr-bounce-to-left" data-filter="*">all</li>
                            <li class="hvr-bounce-to-left" data-filter=".helping">Helping</li>
                            <li class="hvr-bounce-to-left" data-filter=".foods">Foods</li>
                            <li class="hvr-bounce-to-left" data-filter=".charity">Charity</li>
                            <li class="hvr-bounce-to-left" data-filter=".events">events</li>
                            <li class="hvr-bounce-to-left" data-filter=".biology">Biology</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="iso-content">
            <!-- Single gallery -->
            <div class="single-gallery iso-item helping charity">
                <img src="img/gallery/01.jpg" alt="">
                <div class="gallery-lightbox">
                    <h2>gallery title.</h2>
                    <a href="img/gallery/01.jpg" data-lightbox="example-set" data-title="conscare">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!-- Single gallery -->
            <div class="single-gallery iso-item foods events mechanical">
                <img src="img/gallery/02.jpg" alt="">
                <div class="gallery-lightbox">
                    <h2>gallery title.</h2>
                    <a href="img/gallery/02.jpg" data-lightbox="example-set" data-title="conscare">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!-- Single gallery -->
            <div class="single-gallery iso-item helping events biology">
                <img src="img/gallery/03.jpg" alt="">
                <div class="gallery-lightbox">
                    <h2>gallery title.</h2>
                    <a href="img/gallery/03.jpg" data-lightbox="example-set" data-title="conscare">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!-- Single gallery -->
            <div class="single-gallery iso-item foods mechanical">
                <img src="img/gallery/04.jpg" alt="">
                <div class="gallery-lightbox">
                    <h2>gallery title.</h2>
                    <a href="img/gallery/04.jpg" data-lightbox="example-set" data-title="conscare">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!-- Single gallery -->
            <div class="single-gallery iso-item helping mechanical biology">
                <img src="img/gallery/05.jpg" alt="">
                <div class="gallery-lightbox">
                    <h2>gallery title.</h2>
                    <a href="img/gallery/05.jpg" data-lightbox="example-set" data-title="conscare">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!-- Single gallery -->
            <div class="single-gallery iso-item charity">
                <img src="img/gallery/06.jpg" alt="">
                <div class="gallery-lightbox">
                    <h2>gallery title.</h2>
                    <a href="img/gallery/06.jpg" data-lightbox="example-set" data-title="conscare">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!-- Single gallery -->
            <div class="single-gallery iso-item charity biology">
                <img src="img/gallery/07.jpg" alt="">
                <div class="gallery-lightbox">
                    <h2>gallery title.</h2>
                    <a href="img/gallery/07.jpg" data-lightbox="example-set" data-title="conscare">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!-- Single gallery -->
            <div class="single-gallery iso-item charity">
                <img src="img/gallery/08.jpg" alt="">
                <div class="gallery-lightbox">
                    <h2>gallery title.</h2>
                    <a href="img/gallery/08.jpg" data-lightbox="example-set" data-title="conscare">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--
        ============================
        gallery part end
        ============================
    -->

    <!--
        ============================
        volunteers part start
        ============================
    -->
    <section class="volunteers-area section-padding" id="volunteers">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!-- section title -->
                    <div class="title text-center">
                        <h2>our volunteers</h2>
                        <div class="separate"><span class="separate-icon"></span></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos est expedita, quas ab adipisci consectetur tempora jet.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single volunteers -->
                <div class="col-md-3 col-sm-6">
                    {{!-- <div class="single-volunteers">
                        <div class="volunteers-info">
                            <img src="img/volunteers/01.png" alt="">
                            <div class="single-team-con">
                                <div class="single-team-txt">
                                    <!-- team social links -->
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <!-- // team social links -->
                                </div>
                            </div>
                        </div>
                        <h3>John Doe</h3>
                        <span>Fund Organaizer</span>
                    </div> --}}
                </div>
                <!-- Single volunteers -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-volunteers">
                        <div class="volunteers-info">
                            <img src="img/volunteers/mama.jpg" alt="">
                            <div class="single-team-con">
                                <div class="single-team-txt">
                                    <!-- team social links -->
                                    <ul>
                                        <li><a href="https://www.facebook.com/ramkumar.gupta.946179?lst=100003907655124%3A100006324733543%3A1529912894"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <!-- // team social links -->
                                </div>
                            </div>
                        </div>
                        <h3>Ram Kumar Gupta</h3>
                        <span>Adhyaksh</span>
                    </div>
                </div>
                <!-- Single volunteers -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-volunteers">
                        <div class="volunteers-info">
                            <img src="img/volunteers/avadh.jpg" alt="">
                            <div class="single-team-con">
                                <div class="single-team-txt">
                                    <!-- team social links -->
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <!-- // team social links -->
                                </div>
                            </div>
                        </div>
                        <h3>Avadh Kishor</h3>
                        <span>Sachiv</span>
                    </div>
                </div>
                <!-- Single volunteers -->
                <div class="col-md-3 col-sm-6">
                    {{!-- <div class="single-volunteers">
                        <div class="volunteers-info">
                            <img src="img/volunteers/04.png" alt="">
                            <div class="single-team-con">
                                <div class="single-team-txt">
                                    <!-- team social links -->
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <!-- // team social links -->
                                </div>
                            </div>
                        </div>
                        <h3>Olivia Doe</h3>
                        <span>Fund Organaizer</span>
                    </div> --}}
                </div>
            </div>
        </div>
    </section>
    <!--
        ============================
        volunteers part end
        ============================
    -->

    <!--
        ============================
        events part start
        ============================
    -->
    <section class="events-area section-padding" id="events">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!-- section title -->
                    <div class="title text-center">
                        <h2>Upcoming Events</h2>
                        <div class="separate"><span class="separate-icon"></span></div>
                        <p>We are working on many events we will intimate you as we finalize something.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!--
        ============================
        events part end
        ============================
    -->

    <!--
        ============================
        donation part start
        ============================
    -->
    <section class="donation-area parallax" id="donation">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-0">
                    <!-- donate form -->
                    {{!-- <div class="donate-form">
                        <div class="form-group col-md-12">
                            <h3>Have any Complain ?</h3>
                            <div class="select-amount">
                                <input name="other-payment" placeholder="Short description" type="text">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <h3>Name</h3>
                            <input name="field-name" required="" type="text">
                        </div>
                        <div class="form-group col-sm-6">
                            <h3>location</h3>
                            <input name="field-name" required="" type="text">
                        </div>
                        <div class="form-group col-sm-6">
                            <h3>From MM/YY</h3>
                            <input name="field-name" required="" type="text">
                        </div>
                        <button type="submit" class="tem-btn move-eff"><span>Complain now</span></button>
                    </div> --}}
                    <form action="/ramkumarg">
                    <button type="submit" class="tem-btn move-eff"><span>Complain now</span></button>
                    
                    <button type="submit" class="tem-btn move-eff"><span>Donate Now</span></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--
        ============================
        donation part end
        ============================
    -->

    <!--
        ============================
        testmonial part start
        ============================
    -->
    <!--
        ============================
        testmonial part end
        ============================
    -->

    <!--
        ============================
        Project part start
        ============================
    -->
    <section class="progress-area parallax">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- single progress part -->
                        <div class="single-progress-dec text-center">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            <span class="counter" data-count="240">0</span><span class="plus">+</span>
                            <h3>Homes Connected</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- single progress part -->
                        <div class="single-progress-dec text-center">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                            <span class="counter" data-count="1000">0</span><span class="plus">+</span>
                            <h3>People are Connected</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- single progress part -->
                        <div class="single-progress-dec text-center">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                            <span class="counter" data-count="2">0</span><span class="plus">+</span>
                            <h3>Successful Events</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- single progress part -->
                        <div class="single-progress-dec text-center">
                            <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
                            <span class="counter" data-count="1">0</span><span class="plus">+</span>
                            <h3>Year to be complete</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
        ============================
        Project part End
        ============================
    -->

    <!--
        ============================
        news part start
        ============================
    -->
    <!--
        ============================
        news part end
        ============================
    -->

    <!--
        ============================
        contact part start
        ============================
    -->
    <section class="contact-area section-padding" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!-- section title -->
                    <div class="title text-center">
                        <h2>Register Yourself</h2>
                        <div class="separate"><span class="separate-icon"></span></div>
                        <p>You can Regester Yourself to get Updates and information related to Chhattarpur Seva Samity</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="contact-form">
                        <!-- contact form -->
                        <form action="/home" method="POST" id="active-contact-form">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="email" name="email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="phone" placeholder="Phone" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="address" placeholder="Address" required>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" data-gramm="true" spellcheck="false" data-gramm_editor="true" placeholder="Message" required="required"></textarea>
                                </div>
                                <button type="submit" class="tem-btn move-eff"><span>sent</span></button>
                            </div>
                        </form>
                        <p class="thank-you-message"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
        ============================
        contact part end
        ============================
    -->

    <!--
        ============================
        map contact info part start
        ============================
    -->
    <section class="map-info-area">
        <!-- google map -->
        {{!-- <div class="google-map">
            <div id="map" class="map">
            </div>
        </div> --}}
            
        <!-- contact info -->
        <div class="contact-info">
            <h3>Get In Touch </h3>
            <p>Do you have anything in your mind to tell us? Please don't hesitate to get in touch to us via our contact form.</p>
            <!-- Single contact Info -->
            <div class="single-contact-info">
                <div class="media">
                    <i class="fa fa-envelope"></i>
                    <div class="media-body">
                        <h5>E-mail:</h5>
                        ramkumargupta@gmail.com
                    </div>
                </div>
            </div>
            <!-- Single contact Info -->
            <div class="single-contact-info">
                <div class="media">
                    <i class="fa fa-phone"></i>
                    <div class="media-body">
                        <h5>Phone:</h5>
                        +1 000 111 222
                    </div>
                </div>
            </div>
            <!-- Single contact Info -->
            <div class="single-contact-info">
                <div class="media">
                    <i class="fa fa-map-marker"></i>
                    <div class="media-body">
                        <h5>Address:</h5>
                        CHHATTARPUR
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
        ============================
        map contact info part end
        ============================
    -->

    <!--
		============================
		Footer Area start
		============================ 
	-->
    <footer class="footer-area parallax">
        <div class="main-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <!-- copy right -->
                        <div class="copy-right">
                            <p>RAMKUMAR GUPTA &copy; CHATTARPUR</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--
		============================
		Footer Area End
		============================
	-->

    <!-- ======= All js ======= -->
    <!-- modernizr js -->
    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- jQuery min js -->
    <script src="/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- google api key -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnkFpuHPjRGE2vBvEqdTfOMIjQHpakS1A"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>
</body>
</html>
